<!-- Calendly widget begin -->
<link
    href="https://assets.calendly.com/assets/external/widget.css"
    rel="stylesheet"
/>
<script
    src="https://assets.calendly.com/assets/external/widget.js"
    type="text/javascript"
></script>
<script type="text/javascript">
    Calendly.initBadgeWidget({
        url:
            "https://calendly.com/bannergrinds?background_color=2e3842&text_color=ffffff&primary_color=ed4933",
        text: "Schedule time with me",
        color: "#ed4933",
        textColor: "#ffffff",
        branding: true,
    });
</script>
